<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="LessBuilder"
         name="Less Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.ilaborie.less.eclipse.builder.LessBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="Less"
         name="Less Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ilaborie.less.eclipse.builder.Less">
         </run>
      </runtime>
      <builder
            id="org.ilaborie.less.eclipse.LessBuilder">
      </builder>
   </extension>
   <extension
         id="lessProblem"
         name="Less Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="less.eclipse.nature"
               icon="icons/logo.png"
               label="Toggle Less Nature"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="less.eclipse.category"
            id="less.eclipse.nature"
            name="Toggle Less Nature">
      </command>
      <category
            id="less.eclipse.category"
            name="Less">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.ilaborie.less.eclipse.handlers.ToggleLessNatureHandler"
            commandId="less.eclipse.nature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="less"
            id="less.eclipse.content-type"
            name="Less"
            priority="normal">
      </content-type>
   </extension>

</plugin>
